* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
header, main, footer {
    width: 1000px;
    margin: auto;
    font-size: 20px;
}
header, footer {
    background-color: #A9CAC3;
    height: 10vh;
}
main {
    display: flex;
}
section {
    padding: 30px;
    background-color: #A9CAC3;
}
.personal-info {
    width: 40%;
    
}
.personal-content {
    width: 60%;
}
.content-block {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 20px;
    background-color: #72D9EA;
    border: 5px solid #53B0D1;
    border-radius: 10px;
}
.content-block > img {
    width: 100%;
    height: 100%;
}
.content-block > .title {
    padding: 20px;
    text-align: right;
    font-size: 30px;
    color: #944018;
}
.content-block > .content {
    padding: 10px;
    color: #5C858B;
}
ul > li {
    list-style-type: disc;
}
nav {
    height: 100%;
}
nav > ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
nav > ul > li{
    display: inline;
}
nav > ul > li > a {
    text-decoration: none;
}
nav > ul > li > a > img {
    width: 5vh;
    height: 5vh;
    transition: 1s;
}
a {
    color: black;
    transition: 1s;
}
a:visited {
    color: black;
}
a:hover {
    font-size: 30px;
    color: #944018;
}
a > img:hover {
    width: 7vh;
    height: 7vh;
}
